.menu {
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: #f4f4f4;
    width: 100vw; 
    position: absolute; 
    top: 0; 
    left: 0; 
  }
  
  .menu h1 {
    font-size: 30px; 
    margin-left: 15px; 
    padding-right: 20px;
  }
  menu .logout {
    margin-right: auto; /* Push 'Log Out' to the right */
  }

  .menu a {
    text-decoration: none;
    color: #333; 
    font-size: 18;
    padding:20px;
    transition: transform 0.2s ease-in-out;
  }
  
  
  .menu a:hover {
    text-decoration: underline; 
    transform: translateY(-5px);
  }